# Godot-specific ignores for all sub-projects
**/.import/
**/export.cfg
**/export_presets.cfg
**/*.import
**/.godot/

# Mono-specific ignores for all sub-projects
**/.mono/
**/data_*/
**/addons/Todo_Manager/todo.cfg
**/*.csproj
**/*.sln
